* button {
  margin: top 99999px;
}

h1 {
  text-shadow: 4px 2px 2px #1c6ea4;
}

button {
  background-color: blue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 550px 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button {
  background-color: white;
  color: black;
  border: 2px solid blue;
}

button:hover {
  background-color: blue;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

* h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  text-align: center;
}

div {
  text-align: center;
}

div {
  font-size: large;
}

h1 {
  -ms-grid-layer: unset;
}

h1 {
  text-shadow: 4px 2px 2px #1c6ea4;
}
